<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Template 1</title>
<meta name="description" content="A description of your website">
<meta name="keywords" content="keyword1, keyword2, keyword3">
<link href="css/style.css" rel="stylesheet" type="text/css">
<style type="text/css">
.auto-style1 {
	color: #364B38;
	text-decoration: underline;
}
</style>
</head>
<body>

<div id="wrapper"> 

  <div id="header"> 

    <div class="top_banner">
      <h1>PARKING System</h1>
      <p>colege yanbue</p>
    </div>
 
  </div>

  <div id="page_content">

    <div class="navigation">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="view_all_student.php">Contact</a></li>
        <li><a href="view_all_infraction.php">Services</a></li>
        <li><a href="view_all_parking.php">Products</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Extra</a></li>
      </ul>
    </div>

    <div class="left_side_bar"> 

      <div class="col_1">
        <h1>Main Menu</h1>
        <div class="box">
          <ul>
            <li class="auto-style1"><a href="myform.html" target="gg">Add new student</a></li>
            <li class="auto-style1"><a href="infraction_form.html" target="gg">Add new infraction</a></li>
            <li class="auto-style1"><a href="parking_form.html" target="gg">Add new parking</a></li>
            <li class="auto-style1"><a href="continue_form.html" target="gg">Add new continue</a></li>
            </ul>
        </div>
      </div>
      
      <div class="col_1">
        <h1>Block</h1>
        <div class="box">
          <p>Enter Block content here...</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
Aenean commodo Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
 Aenean commodo</p>
        </div>
      </div>

    </div>

    <div class="right_section">
      <div class="common_content">
        <h2>Gallery</h2>
          <iframe src="ff.html" name="gg" style="height: 551px; width: 705px"></iframe>
          </div>
      
    </div>

    <div class="clear"></div>
    
    <!--start footer from here-->
    <div id="footer">Copyright &copy; 2014. Design by <a href="http://www.htmltemplates.net" target="_blank">htmltemplates.net</a><br>
    
    <!--DO NOT remove footer link-->
    <!--Template designed by--><a href="http://www.htmltemplates.net"><img src="images/footer.gif" class="copyright" alt="http://www.htmltemplates.net"></a></div>
	
    <!--/. end footer from here-->
  </div>

</div>

</body></html>